<!-- This template includes hardcoded data. In future lessons, you will be rendering data dynamically. -->
{{!-- this gets injected into the main.handlebars where {{{ body }}} is located --}}
<section>
    {{!-- title of post will go here --}}
    <h2>{{title}}</h2>
    {{!-- post content will go here --}}
    <p>{{content}}</p>
    <p> Post created by: {{username}}, on {{dateCreated}}</p>
</section>