<h1>{{blogPost.title}}</h1>
<p>{{blogPost.content}}</p>
<h2>Comments:</h2>
<div>
    {{#each comments}}
    <div>
        <p>{{comment.content}}</p>
        <p>-{{user.username}}</p>
    </div>
    {{/each}}
</div>

{{#if loggedIn}}
<form>
    <textarea placeholder="Your comment here"></textarea>
    <button type="submit">Submit</button>
</form>
{{else}}
<p> <a href="/login">Login</a> or <a href="/signup">sign up</a> up to add comments.</p>
{{/if}}